@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
.kirish {
  width: 350px;
  margin: auto;
  padding: 32px;
  margin-top: 10rem;
  text-align: start;
  font-family: "DM Sans", sans-serif;
  background-color: whitesmoke;
  border-radius: 15px;
}
.kirish:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 5%;
  transition: opacity 0.3s ease-in-out;
}
.kirish h1 {
  font-weight: 700;
  font-size: 31px;
  line-height: 35px;
  color: #222;
  letter-spacing: 1px;
}
.kirish .kirish-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.kirish .kirish-input label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #444;
}
.kirish .kirish-input input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #222;
  outline: none;
  font-weight: 400;
  font-size: 16px;
}
.kirish button {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid red;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: red;
  color: #fff;
  cursor: pointer;
  opacity: 55%;
}
.kirish button:hover {
  opacity: 100%;
  border: 1px solid red;
  color: red;
  background-color: white;
  transition: opacity 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
